:root {
  --captain-color: #ee2725;
  --personnel-color:  #5d3354;
  --civilian-color: #938c3b;
  --equipment-color: #275d69;
  --system-color: #6a64a5;
  --location-color: #00a99d;
  --artifact-color: #e78820;
  --entity-color: #005833;
  --wild-color: #c6c2c3;
  --mission-color: #000000;
  --specialty-color: #00a651;
  --lifeform-color: #00a1e4;
  --affiliation-color: #cbc304;
  --header-border: 6px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc0a8;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-image: url('../img/background.jpg');
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  max-width: 60rem;

  /* center the container */
  margin-left: auto;
  margin-right: auto;
}

header {
  position: fixed;
  z-index: 1;
  background-color: #384260;
  height: 4rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 60rem;
  vertical-align: middle;
}

header label {
  color: #ccc0a8;
}

main {
  padding-top: 4rem;
  min-height: 100%;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#header-right {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

#hand-info {
  font-size: 2.4rem;
  font-weight: bold;
  margin-right: 0.6rem;
}

#points {
  color: #b7e4c7;
}

#cardCount, #cardLimit {
  color: #bfc5d9;
}

span.separator {
  color: #bfc5d9;
}

#left {
  width: 10rem;
  background-color: #ccc0a8;
}

#right {
  background-color: #e9e3c6;
  min-height: 100%;
  width: calc(100% - 10rem);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #e9e3c6;
}

#wizkids-logo {
  width: 10rem;
  background-color: #ccc0a8;
  text-align: center;
  padding: 0.5rem;
}

#legal-text {
  width: calc(100% - 10rem);
  font-size: x-small;
  text-align: center;
  color: #312b2f;
  margin-top: auto;
  margin-bottom: 5px;
}

li.list-group-item {
  color: white;
  display: block;
  font-size: 0.9rem;
}

li.captain {
  background-color: var(--captain-color);
}

span.captain {
  color: var(--captain-color);
}

#captain-header {
  border-right: solid var(--captain-color) var(--header-border);
}

li.personnel {
  background-color: var(--personnel-color);
}

span.personnel {
  color: var(--personnel-color);
}

#personnel-header {
  border-right: solid var(--personnel-color) var(--header-border);
}

li.civilian {
  background-color: var(--civilian-color);
}

span.civilian {
  color: var(--civilian-color);
}

#civilian-header {
  border-right: solid var(--civilian-color) var(--header-border);
}

li.equipment {
  background-color: var(--equipment-color);
}

span.equipment {
  color: var(--equipment-color);
}

#equipment-header {
  border-right: solid var(--equipment-color) var(--header-border);
}

li.system {
  background-color: var(--system-color);
}

span.system {
  color: var(--system-color);
}

#system-header {
  border-right: solid var(--system-color) var(--header-border);
}

li.location {
  background-color: var(--location-color);
}

span.location {
  color: var(--location-color);
}

#location-header {
  border-right: solid var(--location-color) var(--header-border);
}

li.artifact {
  background-color: var(--artifact-color);
}

span.artifact {
  color: var(--artifact-color);
}

#artifact-header {
  border-right: solid var(--artifact-color) var(--header-border);
}

li.entity {
  background-color: var(--entity-color);
}

span.entity {
  color: var(--entity-color);
}

#entity-header {
  border-right: solid var(--entity-color) var(--header-border);
}

li.wild {
  background-color: var(--wild-color);
}

span.wild {
  color: var(--wild-color);
}

#wild-header {
  border-right: solid var(--wild-color) var(--header-border);
}

li.mission {
  background-color: var(--mission-color);
}

span.mission {
  color: var(--mission-color);
}

#mission-header {
  border-right: solid var(--mission-color) var(--header-border);
}

li.system.location {
  background-image: linear-gradient(to right, var(--system-color), var(--location-color), var(--system-color), var(--location-color));
}

#cards {
  background-color: #ccc0a8;
}

#cards .card-header, #hand .card-header {
  padding: 0.4rem;
  font-weight: bold;
  background-color: #ccc0a8;
  cursor: pointer;
}

#hand, #settings {
  background-color: #e9e3c6;
  padding: 0.4rem;
  font-weight: bold;
}

#settings {
  font-weight: normal;
  color: var(--army-color);
  font-size: small;
}

#language {
  margin-top: 0.5rem;
}

#cards li, #hand li {
  font-weight: bold;
  padding: 0.4rem;
  cursor: pointer;
}

#cards li {
  padding-right: 0;
}

#hand li.text, li.tags {
  background-color: #fffafa;
  color: grey;
  font-weight: normal;
  font-size: 0.8rem;
  border: 0;
}

#hand li.tags {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

#hand li span {
  font-weight: bold;
}

#hand li.tags span {
  font-weight: normal;
}

#hand li.blanked {
  opacity: 0.4;
  filter: grayscale(100%);
}

#hand div.card {
  margin-bottom: 0.4rem;
  cursor: pointer;
}

span.badge-default {
  min-width: 1.5rem;
}

.cleared, .cleared:hover {
  text-decoration: line-through;
}

button {
  cursor: pointer;
}

li.text span.specialty::after, li.text span.lifeform::after, li.text span.affiliation::after {
  background-size: 1rem 1rem;
  display: inline-block;
  width: 1rem; 
  height: 1rem;
  margin-left: 5px;
  content:"";
}

li.text span.specialty::after {
  background-image: url('../icons/specialty.png');
}

li.text span.lifeform::after {
  background-image: url('../icons/lifeform.png');
}

li.text span.affiliation::after {
  background-image: url('../icons/affiliation.png');
}

li.tags span.specialty::before, li.tags span.lifeform::before, li.tags span.affiliation::before {
  background-size: 1rem 1rem;
  display: inline-block;
  width: 1rem; 
  height: 1rem;
  content:"";
  vertical-align: middle;
}

li.tags span.specialty::before {
  background-image: url('../icons/specialty.png');
}

li.tags span.lifeform::before {
  background-image: url('../icons/lifeform.png');
}

li.tags span.affiliation::before {
  background-image: url('../icons/affiliation.png');
}

li.tags span span {
  border-bottom: solid 2px;
  border-right: solid 4px;
  border-radius: 6px;
  border-bottom-left-radius: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-right: 5px;
  white-space: collapse;
}

li.tags span.specialty span {
  border-color: var(--specialty-color);
}

li.tags span.lifeform span {
  border-color: var(--lifeform-color);
}

li.tags span.affiliation span {
  border-color: var(--affiliation-color);
}

span.card-name {
  font-style: italic;
}
